{
    "startPage": 1,
    "endPage": 1,
    "itemsPerPage": 200,
    "simulationMode": false,
    "csfrtoken": "{{CSFR_TOKEN}}",
    "sessionid": "{{BROWSER_SESSION_ID}}",
    "apiKey": "{{API_KEY}}",
    "artistsToRemove": [
        "Deep Sleep Music Collective",
        "Nursery Rhymes 123",
        "The Kiboomers",
        "Raimond Lap"
    ]
}